.page {
  min-width: 320px;
/*  max-width: 1280px;*/
  min-height: 100vh;
  background-color: #000;
  font-family: Inter, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 350px) {
  .page {
    padding: 0 0 36px;
  }
}
