.profile {
  width: 100%;
  max-width: 880px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 120px auto max-content 1fr max-content;
  grid-template-areas:
        "avatar-container title edit-button . add-button"
        "avatar-container subtitle . . add-button";
  column-gap: 18px;
  padding: 0 0 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  .profile {
    margin-top: 42px;
    grid-template-columns: auto auto;
    grid-template-areas:
    "avatar-container avatar-container"
    "title edit-button"
    "subtitle subtitle"
    "add-button add-button";
    column-gap: 0;

  }
}
