.header__logo-img {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 350px) {
  .header__logo-img {
    width: 104px;
    height: 25px;
    margin-bottom: 32px;
  }
}
